@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Young+Serif&display=swap');

body {
    max-width: 1400px;
    margin: auto;
    padding: 0;
    font-family: 'Young Serif';
    font-size: 16px;
    line-height: 1.5em;
    background-color: gainsboro;

}

img {
    display: block;
    margin: auto;
    width: 100%;
    align-items: center;

}

.hero img {
    padding: 5px;
    width: 100%;
    height: auto;
}


/*header css styles*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #841617;
    font-family: 'Young Serif';
    background-color: #fdf9d8;
    padding: 5px 0;
    margin: 0 auto;
}

.container {
    display: grid;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;

}

.headings {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.sub {
    color: #841617;
    letter-spacing: -0.08em;
    padding: 0px;
}

.currentdate {

    padding: 10px;
    margin: 10px;
    text-align: center;
}

.logoimg {
    width: 150px;
}

/* NAVIGATION */
#menu {
    grid-column: 1/-1;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #fdf9d8;
    color: #841617;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "✕";
}

nav {
    grid-column: 1/-1;

}

.navigation {
    background: #fdf9d8;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    color: #841617;
    text-decoration: none;
    font-family: "Young Serif";
    display: block;
    padding: 0.75rem;
    text-align: left;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: #fdf9d8;
    background-color: gray;
}

.show li {
    display: block;
}

.active::first-letter {
    /* Psuedo element */
    text-decoration: underline;
}

.active {
    background-color: #841617;

}

/* END RESPONSIVE MENU */


main div {
    margin: 1em;
    padding: 1em;
}

.spot1,
.spot2,
.spot3 {

    background-color: #fdf9d8;
    margin: 1em;
    padding: 1em;
}

.herojoin {
    font-size: 1rem;
    background-color: #fdf9d8;
    color: #841617;
    padding: 15px 5px;
    border-radius: 2em;

}

.hero {
    padding: 0px;
}

.heroimg {
    width: 100%;
    height: auto;
}

.spot {
    background-color: gainsboro;

}

.spot3 {
    display: none;

}

.join {
    background-color: #FDF9D8;
    display: none;
}

.weather,
.events,
.news {
    margin: 1em;
    padding: 1em;
    background-color: #fdf9d8;
    color: #841617;
}

/******* Headings & Paragraph */
h1,
h2,
h3,
h4 {

    font-family: 'Young Serif';
    margin: 5px;
    padding: .3em;
    border-radius: .5em;
    text-align: center;
}

h1 {
    color: #841617;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #841617;
    max-width: fit-content;
}

h3 {
    font-size: 20px;
    color: #841617;
}

h4 {
    font-size: 15px;
    color: #841617
}


p {
    font-family: 'Poppins';
    color: #841617;
    font-size: 16px;
    margin: 15px;
    text-align: center;
}

.stats {
    font-family: 'Poppins';
    color: #841617;
    font-size: 16px;
    margin: 15px;
}

/********** Footer */
footer {
    color: #841617;
    font-family: 'Young Serif';
    background-color: #fdf9d8;
    padding: .5em;
    text-align: center;
    border-radius: .5em;

}

footer p {
    color: #841617;
    text-align: center;
    font-family: 'Poppins';
}

.footlink {
    text-decoration: none;
    color: #841617;
}

hr {
    color: #841617;
}

a {
    color: #841617
}

/* Dark Mode Button*/
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

.figcaption {
    color: #841617
}

/*DISCOVER*/
#discover-sidebar article {
    border: 3px solid #841617;
    background-color: #fdf9d8;
    box-shadow: 0.4em 0.4em 0.7em #353535;
    margin-bottom: 15px;
}

#discover-sidebar article h3 {
    padding-top: 15px;
    margin: 0 0 0 7px;
}

.stats {
    padding: 8px;
}

#discover-main img {
    transition: 1s;
    border: 3px solid #841617;
    box-shadow: 0.4em 0.4em 0.7em #353535;
}

#discover-main img:hover {
    transform: scale(1.01);
}

/* JOIN PAGE FORM */
.joinMain {
    display: grid;
    grid-template-columns: 1fr;
}

.formSection {
    grid-column: 1/2;
}

.benefitSection {
    grid-column: 1/2;
    padding: 2rem;
}

.formHead {
    font-family: var(--header-font);
    font-size: 1.35rem;
    font-weight: 700;
    color: #841617;
}

fieldset {
    background-color: #fdf9d8;
    padding: 2rem;
    margin: 1rem;
    width: 80%;
    max-width: 800px;
}

form legend {
    margin: 1rem 0.5rem;
    display: none;
}

.formSection h2 {
    font-family: 'Young Serif';
    color: #841617;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    color: #841617;
}

fieldset label.top input {
    display: block;
    padding: 0.75rem;
    font-family: 'Poppins';
    font-size: 0.75rem;
    width: 100%;
    max-width: 20rem;
}

fieldset #coDescription {
    display: block;
    width: 100%;
    max-width: 21rem;
}

div label.side {
    font-family: var(--text-font);
}

.levels {
    display: block;
    font-family: 'Young Serif';
    font-weight: 600;
}

.submitButton {
    display: block;
    background-color: #FDF9D8;
    font-family: var(--text-font);
    font-size: 1rem;
    margin: 1rem auto;
    padding: .90rem;
    color: #841617;
    border-radius: .5rem;
    width: 75%;
}

/*----- Required and Pattern-Specific Areas -----*/

.formSection label.top input:required {
    border-left: red solid 6px;
}

.formSection label.top input:required:valid {
    border-left: green solid 6px;
}

/* BENEFITS */
.benefitSection h2 {
    font-family: 'Young Serif';
    color: #641213;
}

/* Mini Sections */

.benefits {
    padding: .75rem 0;
}

.benefits h3 {
    font-family: 'Young Serif';
    color: #841617;
    font-size: 1.55rem;
    font-weight: 700;
}

.mini {
    background-color: #fdf9d8;
    opacity: 90%;
    border-color: #841617;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    color: #841617;
    font-family: 'Poppins';
}

.mini h5 {
    font-size: 1.35rem;
    margin: 0.25rem;
    color: #841617;
}

.mini p,
ul {
    font-size: 1.25rem;
}

/* ------ DIRECTORY - MAIN ------ */
.directory-main {
    display: grid;
    grid-template-columns: .2rem 1fr .2rem;
    gap: 2rem .2rem;
    margin: 0 auto;
    max-width: 500px;
    min-width: 350px;
}

.directory-main h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem 0 0 0;
    text-align: center;
    color: #841617;
}

.viewmenu {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewmenu button {
    margin: 1rem;
    margin-bottom: -.8rem;
    padding: 7.5px;
    width: 44px;
    height: 44px;
    border: solid .2rem #641213;
    color: #FDF9D8;
    background-color: #841617;
}

.viewmenu button:hover {
    cursor: pointer;
}

.viewmenu button i {
    margin: 0;
    padding: 0;
}

/* DIRECTORY LIST */
.directory-list {
    grid-column: 2/3;
    grid-row: 4/5;
}

.directory-list .member-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: .1rem 0;
    padding: 1rem 2rem;
}

.directory-list .member-card:nth-child(odd) {
    background-color: #841617;
}

.directory-list .m-name {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    text-align: left;
    font-size: 1.2rem;

}

.directory-list .m-logo {
    display: none;
    margin: .5rem auto;
    max-height: 120px;
    max-width: 250px;
}

.directory-list .m-address {
    line-height: 1.5rem;
    text-align: left;
}

.directory-list .m-phone {
    line-height: 1.5rem;
    text-align: left;
}

.directory-list .m-phone:hover {
    font-weight: bold;
    text-decoration-color: #fdf9d8
}

.directory-list .m-url {
    line-height: 1.5rem;
    text-align: left;

}

.directory-list .m-url:hover {
    font-weight: bold;
    text-decoration-color: #666666;
}

/* DIRECTORY GRID */
.directory-grid {
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 1rem;
    background-color: #841617;
}

.directory-grid .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: 1.5rem;
    border: solid .2rem #641213;
    background-color: #353535;
}

.directory-grid .m-name {
    display: none;
    margin: 1rem;
    text-align: center;
}

.directory-grid .m-logo {
    margin: .5rem auto;
    max-height: 120px;
    max-width: 250px;
}

.directory-grid .member-card:nth-child(6) .m-logo {
    padding: .2rem 0;
    background-color: #841617;
}

.directory-grid .m-address {
    margin: 1rem;
    text-align: center;
    color: var(--text-on-white);
    transition: var(--transition-time);
}

.directory-grid .m-phone {
    margin-top: .5rem;
    color: var(--text-on-white);
    transition: var(--transition-time);
}

.directory-grid .m-phone:hover {
    color: #841617;
    font-weight: bold;
    text-decoration-color: #666666;
}

.directory-grid .m-url {
    margin-top: .5rem;

}

.directory-grid .m-url:hover {
    color: #841617;
    font-weight: bold;
    text-decoration-color: #fdf9d8;
}