{
        font-family: 'Arial';
    }

    html {
        background-color: gray;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    body {
        border-radius: 5px;
        min-height: 406px;
        height: 70%;
        width: 70%;
        max-width: 700px;
        background-color: #fdf9d8;
    }

    h1 {
        font-size: 40px;
        color: #fdf9d8;
        align-self: center;
    }

    header>img {
        width: 100%;
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;
    }

    main {
        width: 97%;
        height: calc(100% - 5em - 6em - 4em + 5px);
        margin: 2em 0 2em auto;
        position: relative;
    }

    h2 {
        border-bottom: solid 1px #fdf9d8;
        margin-bottom: 0;
        width: 95%;
    }

    ul {
        margin: 0;
        padding-top: 10px;
        width: calc(100% - 40px);
        height: 94%;
        overflow-y: auto;
    }

    ul li {
        padding-bottom: 5px;
    }

    a {
        color: #841617;
    }

    a:active {
        color: #fdf9d8;
    }

    footer {
        background-color: #841617;
        position: relative;
        color: #fdf9d8;
        padding: 0.75em;
        border-radius: 5px;
        text-align: center;
        z-index: 10;
    }

    footer a {
        color: #;
        text-decoration: underline #fdf9d8;
        transition: color 0.5s, text-shadow 0.5s;
    }

    footer a:hover {
        color: #fdf9d8;
        text-shadow: 1px 1px 10px #841617;
    }

        {
        font-family: 'Arial';
    }

    html {
        background-color: gray;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    body {
        border-radius: 5px;
        min-height: 406px;
        height: 70%;
        width: 70%;
        max-width: 700px;
        background-color: #fdf9d8;
    }

    header {
        padding: 1em;
        display: grid;
        position: relative;
        background-color: #841617;
        grid-template-columns: auto 20%;
        grid-template-rows: 5em;
        justify-items: center;
        border-radius: 5px;
        z-index: 15;
    }

    h1 {
        font-size: 40px;
        color: #fdf9d8;
        align-self: center;
    }

    header>img {
        width: 100%;
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;
    }

    main {
        width: 97%;
        height: calc(100% - 5em - 6em - 4em + 5px);
        margin: 2em 0 2em auto;
        position: relative;
    }

    h2 {
        border-bottom: solid 1px #fdf9d8;
        margin-bottom: 0;
        width: 95%;
    }

    ul {
        margin: 0;
        padding-top: 10px;
        width: calc(100% - 40px);
        height: 94%;
        overflow-y: auto;
    }

    ul li {
        padding-bottom: 5px;
    }

    a {
        color: #841617;
    }

    a:active {
        color: #fdf9d8;
    }

    footer {
        background-color: #841617;
        position: relative;
        color: #fdf9d8;
        padding: 0.75em;
        border-radius: 5px;
        text-align: center;
        z-index: 10;
    }

    footer a {
        color: #;
        text-decoration: underline #fdf9d8;
        transition: color 0.5s, text-shadow 0.5s;
    }

    footer a:hover {
        color: #fdf9d8;
        text-shadow: 1px 1px 10px #841617;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        text-align: center;
        color: #841617;
        text-decoration: none;
        padding: 10px;
    }

    nav a:hover {
        background-color: ghostwhite;
        color: #841617;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Mobile View ***************/
    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #841617;
        color: #fdf9d8;
    }

    #menu::before {
        content: "≡";
    }

    nav {
        background-color: #fdf9d8;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #841617;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    .navigation a:active {
        color: #841617;
        background-color: ghostwhite;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    /* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
    @media only screen and (min-width: 40em) {
        .navigation {
            display: flex;
        }

        .navigation li {
            display: block;
            /* change state in small view */
            flex: 1 1 100%;
        }

        .navigation a {
            text-align: center;
        }

        #menu {
            display: none;
        }
    }