/* Media query to show/hide the menu and button */
@media only screen and (max-width: 768px) {
    nav {
        display: block;
        /* Show the menu on mobile */
    }

    #hamburger {
        display: block;
        /* Show the button on mobile */
    }
}

h1 {
    justify-self: start;
}

@media only screen and (max-width: 405px) {
    header {
        grid-template-columns: auto 54.8px;
    }

    .brk2 {
        display: block;
    }

    .unBrk2 {
        display: none;
    }

    h2 {
        text-align: center;
    }

    ul {
        padding-left: 20px;
        height: 80%;
    }
}